data_dir = "/opt/nomad/data"
datacenter = "dc1"

bind_addr = "0.0.0.0"

client {
  enabled = false
  servers = [{{ server_ips | map('regex_replace', '^(.*)$', '\"\\1\"') | join(', ') }}]
}

server {
  enabled = false
}

ui {
  enabled = false
}